.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
  .header {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-bottom: 64px;
  }
}
