.lead__title {
  margin-top: 56px;
  margin-left: 0;
  margin-bottom: 32px;
  margin-right: 0;
  padding: 0;

  /* задаем максимальную ширину контейнера для текста */
  max-width: 720px;

  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 900;

  font-size: 96px;
  line-height: 100px;

  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    margin-top: 48px;
  }
}

/*
промежуточные значения
*/
@media screen and (max-width: 900px) {
  .lead__title {
    font-size: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 700px) {
  .lead__title {
    font-size: 41px;
    line-height: 45px;
  }
}

/*
промежуточные значения
*/

@media screen and (max-width: 320px) {
  .lead__title {
    margin-bottom: 16px;

    font-size: 40px;
    line-height: 44px;
  }
}
