.products__link-url {
  /* reset intents in text element */
  margin: 0;
  padding: 0;

  text-transform: uppercase;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  letter-spacing: 2px;

  color: #aaaaaa;
}
