.gallery__text-wrapper {
  margin-bottom: 92px;
  align-self: baseline;
  margin-left: calc((148 / 1280) * 100%);

  display: flex;
  flex-direction: column;

  width: calc((690 / 1280) * 100%);

  outline: auto red;
}
