.gallery__text-wrapper {
  outline: auto red;

  margin-top: 92px;
  margin-bottom: 92px;
  margin-left: 148px;
  margin-right: 0;

  /*
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  */

  display: flex;
  flex-direction: column;

  max-width: 690px;
}
