.products__img-wrapper {
  width: 460px;
  height: 460px;

  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

@media screen and (max-width: 1024px) {
  .products__img-wrapper {
    width: 440px;
    height: 440px;
  }
}
@media screen and (max-width: 768px) {
  .products__img-wrapper {
    width: 340px;
    height: 340px;
  }
}

/* на разрешении 320 меняется местами порядок отображения элементов */
@media screen and (max-width: 320px) {
  .products__img-wrapper {
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    width: 320px;
    height: 320px;
  }
}
