.gallery__title {
  margin: 0;
  padding: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  /* identical to box height, or 107% */

  color: #ffffff;
}
