.header__subtitle {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 64px;
  margin-right: 0;
  padding: 0;

  max-width: 640px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 2.813vw;
  line-height: 120%;
  /* or 120% */

  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 320px) {
  .header__subtitle {
    font-weight: 400;
    font-size: 5vw;
    line-height: 120%;
  }
}
