.header__subtitle {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 64px;
  margin-right: 0;
  padding: 0;

  max-width: 640px;

  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;

  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .header__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 320px) {
  .header__subtitle {
    margin-bottom: 40px;

    font-size: 16px;
    line-height: 20px;
  }
}
