.cover {
  /* intents block */

  margin: 0;
  margin-left: 48px;
  margin-right: 48px;
  margin-bottom: 92px; /* calc(134px-24px-18px);*/

  max-width: 1184px;
  height: 740px;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin-left: 0;
    margin-right: 0;

    max-width: 1024px;
    height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-left: 0;
    margin-right: 0;

    margin-bottom: 88px; /* calc(134px-24px-18px);*/

    max-width: 768px;
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-left: 0;
    margin-right: 0;

    margin-bottom: 64px; /* calc(134px-24px-18px);*/

    max-width: 320px;
    height: 200px;
  }
}
