.cover {
  margin-bottom: 92px;
  width: calc((1184 / 1280) * 100%);
}

@media screen and (max-width: 1024px) {
  .cover {
    width: calc((1024 / 1024) * 100%);
  }
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
    width: calc((768 / 768) * 100%);
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-bottom: 64px;
    width: calc((320 / 320) * 100%);
  }
}
