.products {
  margin-top: 92px;
  margin-bottom: 92px;

  width: calc((984 / 1280) * 100%);

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(100px, auto);
}

@media screen and (max-width: 1024px) {
  .products {
    width: calc((928 / 1024) * 100%);
  }
}

@media screen and (max-width: 768px) {
  .products {
    width: calc((720 / 768) * 100%);
    margin-top: 88px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 320px) {
  .products {
    width: calc((320 / 320) * 100%);
    margin-top: 64px;
    margin-bottom: 66px;
  }
}
