.products__link {
  margin: 0;
  padding: 0;

  margin-top: 12px;

  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-decoration-line: underline;

  color: #ffffff;
}

.products__link:hover {
  opacity: 0.5;
  transition: opacity 0.8s;
}

@media screen and (max-width: 320px) {
  .products__link {
    margin-left: 16px;
  }
}
