.lead__img-wrapper {
  width: calc((984 / 1280) * 100%);
}

@media screen and (max-width: 1024px) {
  .lead__img-wrapper {
    width: calc((928 / 1024) * 100%);
  }
}

@media screen and (max-width: 768px) {
  .lead__img-wrapper {
    width: 100%;
  }
}
