.header__title {
  margin-top: 56px;
  margin-left: 0;
  margin-bottom: 32px;
  margin-right: 0;
  padding: 0;

  /* задаем максимальную ширину контейнера для текста */
  max-width: 720px;

  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 900;

  font-size: 96px;
  line-height: 100px;

  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .header__title {
    margin-top: 48px;
  }
}

@media screen and (max-width: 320px) {
  .header__title {
    margin-bottom: 16px;
    /* font-size: calc(40 + ((96 - 40)+ (96 - 40) * 0.7) * (100vw / 1280));*/ /* font-size: 96px;  */ /*  font-size: 12.5vw; */
    font-size: 40px;
    line-height: 44px;
  }
}
