.header__main-illustration {
  max-width: 984px;
  height: 615px;
  object-fit: contain;
}

@media screen and (max-width: 1024px) {
  .header__main-illustration {
    max-width: 928px;
    height: 580px;
  }
}

@media screen and (max-width: 768px) {
  .header__main-illustration {
    max-width: 768px;
    height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .header__main-illustration {
    max-width: 320px;
    height: 200px;
  }
}
