.gallery__subtitle {
  margin: 0;
  padding: 0;

  margin-top: 40px;
  margin-bottom: 33px;
  margin-left: 0;
  margin-right: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  /* or 26px */

  color: #ffffff;
}
